## 02_01 - Warmup with Python Loops

In [1]:
# range
for i in range(4, 20):
    print(i)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
# range starting from 0 (default start)
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
# range with step of 4
for i in range(0, 20, 4):
    print(i)

0
4
8
12
16

In [4]:
# nested range
for i in range(0, 20, 4):
    for j in range(4, 10, 2):
        print(i, j)

0 4
0 6
0 8
4 4
4 6
4 8
8 4
8 6
8 8
12 4
12 6
12 8
16 4
16 6
16 8

## 02_02 - Lists, Tuples, and the Slicing Syntax

In [5]:
# list of string initialization 
name_code = ['F0', 'B0', 'L7']

In [6]:
# length of a list
len(name_code)

3

In [7]:
# first element in a list
name_code[0]

'F0'

In [8]:
# alternative access of first element in a list using negative index
name_code[-len(name_code)]

'F0'

In [9]:
# tuple 
name_code[0], name_code[1]

('F0', 'B0')

In [10]:
# tuple with negative indices access
name_code[-len(name_code)], name_code[-len(name_code) + 1]

('F0', 'B0')

In [11]:
# list of integers
int_list = [0, 0, 7]

In [13]:
# list concatenation object list that invokes method
name_code.extend(int_list)
name_code

['F0', 'B0', 'L7', 0, 0, 7, 0, 0, 7]

In [15]:
# adding term to list
name_code.append(20)
name_code

['F0', 'B0', 'L7', 0, 0, 7, 0, 0, 7, 20, 20]

In [16]:
# concatenating two list with the possibility of creating a new list
name_code = name_code + ['F', 'B', 'L']

In [17]:
# display list contents
name_code

['F0', 'B0', 'L7', 0, 0, 7, 0, 0, 7, 20, 20, 'F', 'B', 'L']

In [18]:
# insert element 8 at index 4
name_code.insert(4, 8)
print(name_code)

['F0', 'B0', 'L7', 0, 8, 0, 7, 0, 0, 7, 20, 20, 'F', 'B', 'L']

In [19]:
# delete element at index 4
del name_code[4]
print(name_code)

['F0', 'B0', 'L7', 0, 0, 7, 0, 0, 7, 20, 20, 'F', 'B', 'L']

In [20]:
# remove element 0 (first 0 from the left removed)
name_code.remove(0)
print(name_code)

['F0', 'B0', 'L7', 0, 7, 0, 0, 7, 20, 20, 'F', 'B', 'L']

In [25]:
# list sorting with specified order
int_list.sort(reverse=True)
print(int_list)
int_list.sort(reverse=False)
print(int_list)

[7, 0, 0]
[0, 0, 7]

In [26]:
# list slicing tricks, front slice
name_code[:2]

['B0', 'F0']

In [27]:
# back slice
name_code[2:]

['L7', 0, 7, 0, 0, 7, 20, 20, 'F', 'B', 'L']

In [28]:
# range slice with step (3 in this case)
name_code[2:12:3]

['L7', 0, 20, 'B']

In [29]:
# all elements in list
name_code[:]

['B0', 'F0', 'L7', 0, 7, 0, 0, 7, 20, 20, 'F', 'B', 'L']

In [30]:
# slice with negative indices
hame_code[-1:-12:-3]

['L', 20, 0, 0]

In [32]:
# tuples for variable creation
a, b = 4, 8
print(a)
print(b)

4
8

In [33]:
# function trick with tuples
def cube_three_values(a, b, c):
    return a**3, b**3, c**3

triple_val = (4, 5, 6)
cube_three_values(*triple_val)

(64, 125, 216)

## 02_03: dictionaries and sets

In [35]:
# declaration of a dictionary
dict_char = {'a': 'A_A', 'b': 'B_B', 'c': 'C_C', 'd': 'D_D', 'e':'E_E'}
print(dict_char)

{'a': 'A_A', 'b': 'B_B', 'c': 'C_C', 'd': 'D_D', 'e': 'E_E'}

In [37]:
# adding element to dictionary (auto ordered)
dict_char.update({'d': 'D_D'})
print(dict_char)

{'a': 'A_A', 'b': 'B_B', 'c': 'C_C', 'd': 'D_D', 'e': 'E_E'}

In [38]:
# accessing elements by keys
dict_char['a']

'A_A'

In [39]:
dict_char['b']

'B_B'

In [40]:
# loop via keys (default)
for lower_case in dict_char:
    print(lower_case)

a
b
c
d
e

In [41]:
# key
for lower_case in dict_char.keys():
    print(lower_case)

a
b
c
d
e

In [42]:
# value
for upper_case in dict_char.values():
    print(upper_case)

A_A
B_B
C_C
D_D
E_E

In [43]:
# key, value
for lower_case, upper_case in dict_char.items():
    print(lower_case, upper_case)

a A_A
b B_B
c C_C
d D_D
e E_E

In [44]:
del dict_char['a']
print(dict_char)

{'b': 'B_B', 'c': 'C_C', 'd': 'D_D', 'e': 'E_E'}

In [48]:
# check for key
'b' in dict_char, 'f' in dict_char

(True, False)

In [56]:
# sets
A = {1, 2, 3, 4, 5, 2, 4, 2}
print(A)

{1, 2, 3, 4, 5}

In [57]:
A.add(5)
print(A)
A.add(6)
print(A)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

In [58]:
A.remove(4)
print(A)

{1, 2, 3, 5, 6}

In [59]:
3 in A, 7 in A

(True, False)

In [60]:
for elt in A:
    print(elt)

1
2
3
5
6

## 02_04 - comprehensions (more Pythonic)

In [61]:
list_nums = [1, 2, 3, 4, 5]

In [81]:
%%time
square_trad = []
for elt in list_nums:
    square_trad.append(elt**2)
print(square_trad)

[1, 4, 9, 16, 25]
CPU times: user 461 µs, sys: 0 ns, total: 461 µs
Wall time: 390 µs

In [82]:
%%time
square_pythonic = [elt**2 for elt in list_nums]
print(square_pythonic)

[1, 4, 9, 16, 25]
CPU times: user 232 µs, sys: 0 ns, total: 232 µs
Wall time: 191 µs

In [83]:
cubes_even_nums = [i**3 for i in list_nums if i % 2 == 0]
print(cubes_even_nums)

[8, 64]

In [85]:
dict_char = {'a': 'A_A', 'b': 'B_B', 'c': 'C_C', 'd': 'D_D', 'e':'E_E'}
dict_char_swap = {upper_case:lower_case for lower_case, upper_case in dict_char.items()}
print(dict_char_swap)

{'A_A': 'a', 'B_B': 'b', 'C_C': 'c', 'D_D': 'd', 'E_E': 'e'}

In [86]:
import re
dict_char_trim = {upper_case:lower_case for lower_case, upper_case in dict_char.items() if re.match('e', lower_case)}
print(dict_char_trim)

{'E_E': 'e'}

In [88]:
sum(i**2 for i in range(0, 10) if i % 2 == 1)

165

In [92]:
counting = [(i, j) for j in range(0, 5) for i in range (5, 10)]
counting

[(5, 0),
 (6, 0),
 (7, 0),
 (8, 0),
 (9, 0),
 (5, 1),
 (6, 1),
 (7, 1),
 (8, 1),
 (9, 1),
 (5, 2),
 (6, 2),
 (7, 2),
 (8, 2),
 (9, 2),
 (5, 3),
 (6, 3),
 (7, 3),
 (8, 3),
 (9, 3),
 (5, 4),
 (6, 4),
 (7, 4),
 (8, 4),
 (9, 4)]

## 02_05 - advanced containers

In [100]:
# OOP in Python
class Person:    
    def __init__(self, u_first_name, u_last_name, u_dob='N/A'):
        self.first_name = u_first_name
        self.last_name = u_last_name
        self.dob = u_dob
    def full_name(self):
        return self.first_name + ' ' + self.last_name

In [101]:
person = Person('Boris', 'Lami')

In [102]:
person.first_name

'Boris'

In [103]:
person.last_name

'Lami'

In [107]:
person.dob

'July 2000'

In [105]:
person.dob = 'July 2000'

In [106]:
person.dob

'July 2000'